// This file will hold all the colors for our app.
// This will allow us to switch themes easily.
$color-white: #fff;
$color-black: #000;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$dealt-card-color-default-theme: #ccc;
$dealt-card-color-green-theme: #dddd11;
$dealt-card-color-blue-theme: #00cccc;

