// Place all the styles related to the Games controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.poker-card {
  display: inline-block;
  width: 200px;
  height: 300px;
  border: solid #fff 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
  font-size: 3em;
  line-height: 3em;
  position: relative;

  .card-face {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &.upside {
      opacity: 1;
      z-index: 10;
    }

    &.card-front {
      background: image-url("playing-card_1920.jpg");
      background-size: cover;
    }
  }

  .player-cards & {
    transition: all 0.5s ease;
    &.active-card {
      transform: scale(1.25);
      z-index: 10;
    }
  }

}