// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: solid #fff 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
  font-size: 3em;
  line-height: 3em;
  position: relative;

  .card-face {
    position: absolute;
    text-align: center;
    left: 33%;
    top: 20%;
    opacity: 0;

    &.upside {
      opacity: 1;
    }
  }
}