// Place all the styles related to the Games controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
$card-width: 200px;
$card-height: 1.5 * $card-width;
$dealt-card-width: $card-width * 0.75;
$dealt-card-height: $card-height * 0.75;
$dealt-card-color: #dddd11;

.poker-card {
  display: inline-block;
  width: $card-width;
  height: $card-height;
  color: $color-black;
  border: solid #fff 5px;
  box-shadow: 0 0 2px 2px $box-shadow-color;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
  font-size: 3em;
  line-height: 3em;
  position: relative;

  .card-face {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &.upside {
      opacity: 1;
      z-index: 10;
    }

    &.card-front {
      background: image-url("playing-card_1920.jpg");
      background-size: cover;
    }
  }

  .player-cards & {
    transition:
            transform 0.5s ease,
            box-shadow 0.1s ease;
    position: absolute;
    width: $dealt-card-width;
    height: $dealt-card-height;
    color: $color-white;

    &:nth-child(n + 6) {
      transform-origin: left bottom;
    }

    &:nth-child(-n + 4) {
      transform-origin: bottom right;
    }

    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        transform: rotate(#{($i - 5) * 8}deg);
        left: #{($i) * 100}px;
        top: #{abs($i - 5) * 20}px;
        background-color: darken($dealt-card-color, $i * 3);

        &:hover {
          transform: rotate(#{($i - 5) * 8}deg) scale(1.1) translateY(-40px);
          z-index: 10;
        }

        &.selected-card {
          transform: rotate(#{($i - 5) * 8}deg) scale(1.1) translateY(-40px);
          z-index: 10;
          outline: solid 1px $dealt-card-color;
          box-shadow: 0 0 3px 3px $box-shadow-color;
        }
      }
    }

    // Order matters here, we need to override the above declaration
    &:nth-child(5) {
      top: 10px;
    }
  }
}

.player-cards {
  position: relative;
}